.backgroundItems {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 30%;
    background: transparent url(../Images/backgroundImage.jpg) repeat 0 0;
    background-size: cover;
}